@model IEnumerable<PrecastInfoViewModel>

<table class="table table-hover table-borderless">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Count</th>
			<th scope="col">Reinforced</th>
			<th scope="col">Produced</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">


		@foreach (var p in Model)
		{
			<tr>
				<td>@p.Name</td>
				<td>@p.Count</td>
				<td>@p.Reinforced</td>
				<td>@p.Produced</td>
				<td><a asp-controller="Precast" asp-action="Details" asp-route-id="@p.Id" class="card-link">Details</a></td>
			</tr>
		}
	</tbody>

</table>
