@model ProductionDetailsViewModel

<div class="d-flex flex-row justify-content-between">
	<p>@Model.ProjectName</p>
	<p>@Model.PrecastType</p>
	<p>@Model.PrecastName</p>
	<p>@Model.Count</p>
	<p>@Model.Date.ToString("dd.MM.yyyy")</p>
	<p>@Model.Department</p>
</div>
