@model AllProductionDetailsQueryModel

@{
	ViewBag.Title = $"{Model.PrecastType} {Model.PrecastName} - {Model.ProjectName}";
	var query = Model.Precast.GroupBy(m => m.Department, (key, group) => new
	{
		department = key,
		precast = group.ToArray()
	});

}
<h4 class="text-center">@ViewBag.Title</h4>

<hr />
@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalRecords /
		AllProductionDetailsQueryModel.RecordsPerPage);
}

<div class="row mb-5">
	<div class="col-sm-6 d-grid gap-2 d-sm-flex justify-content-sm-start">
		<a class="btn btn-secondary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Department"
		   asp-action="Details"
		   asp-route-id="@Model.PrecastId"
		   asp-route-currentPage="@previousPage"><<</a>
	</div>

	@{
		var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
		!Model.Precast.Any();
	}

	<div class="col-sm-6 d-grid gap-2 d-sm-flex justify-content-sm-end">
		<a class="btn btn-secondary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Department"
		   asp-action="Details"
		   asp-route-id="@Model.PrecastId"
		   asp-route-currentPage="@(Model.CurrentPage + 1)">>></a>
	</div>
</div>
<div >
	@foreach (var result in query)
	{
		<h5>@result.department</h5>
		<hr />
		@foreach (var precast in result.precast)
		{
			<partial name="_ProductionDetailsPartial" model="precast" />
		}
		<p></p>
	}
	<a asp-controller="Department" asp-action="All" class="btn btn-secondary mb-2  p-3 fw-bold">Back to all</a>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

