@model AllReportQueryModel
@{
	ViewBag.Title = "Monthly Report";
	var query = Model.Precast.GroupBy(m => m.Department, (key, group) => new
	{
		department = key,
		projects = group.ToArray()
					.GroupBy(m => m.ProjectName, (key, group) => new
					{
						projectName = key,
						types = group.ToArray()
						.GroupBy(m => m.PrecastType, (key, group) => new
						{
							type = key,
							precast = group.ToArray()
						})
					})
	});

	string month = Model.Month.HasValue ? Model.Month.Value.ToString("MMММ yyyy"): DateTime.Now.ToString("MMMM yyyy") ;
	
}

<h4 class="text-center">@ViewBag.Title</h4>

<hr />

<form method="get">

	<div class="row justify-content-end">
		<div class="form-group col-sm-2">
			<label asp-for="Month">Select Month</label>
			<input asp-for="Month" class="form-control">
		</div>

		<div class="form-group col-sm-1">
			<div class="form-group">
				<label asp-for="ProjectId">Project</label>
				<select asp-for="ProjectId" class="form-control">
					<option disabled selected value="">...</option>
					@foreach (var project in Model.Projects)
					{
						<option class="bg-dark text-light" value="@project.Id">@project.Name</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-sm-1">
			<div class="form-group">
				<label asp-for="DepartmentId">Department</label>
				<select asp-for="DepartmentId" class="form-control">
					<option disabled selected value="">...</option>
					@foreach (var department in Model.Departments)
					{
						<option class="bg-dark text-light" value="@department.Id">@department.Name</option>
					}
				</select>
			</div>
		</div>
		<div class="col-sm-1">
			<div class="form-group mt-4 p-2">
				<input type="submit" value="Search" class="btn btn-dark" />
			</div>
		</div>
	</div>
</form>
@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalPrecast /
		AllOrdersQueryModel.OrdersPerPage);
}

<div class=" col-sm-12 d-grid gap-2 d-sm-flex justify-content-sm-between">
	<div class="col-sm-3 d-grid gap-2 d-sm-flex justify-content-sm-start">
		<a class="btn btn-secondary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Department"
		   asp-action="Monthly"
		   asp-route-currentPage="@previousPage">
			<<
		</a>
	</div>

	@{
		var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
		!Model.Precast
		.Any();
	}

	<form asp-action="Download" asp-controller="Department" method="post">
		<input type="hidden" name="ReportHtml" />
		<input class="btn btn-secondary" type="submit" id="btnSubmit" value="Download Report" />
	</form>

	<div class="col-sm-3 d-grid gap-2 d-sm-flex justify-content-sm-end">
		<a class="btn btn-secondary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Department"
		   asp-action="Monthly"
		   asp-route-currentPage="@(Model.CurrentPage + 1)">
			>>
		</a>
	</div>
</div>

@if (!Model.Precast.Any())
{
	<h2 class="text-center">No precast found by the given criteria!</h2>
}

<div id="Report" class="d-flex flex-column justify-content-between">

	<div class="d-flex flex-column justify-content-between">
		<h4> Precast production  for @month </h4>
		@foreach (var result in query)
		{
			<div>
				<h5>@result.department</h5>
				<hr />
				@foreach (var project in result.projects)
				{
					<div>
						<h6>@project.projectName</h6>
						@foreach (var type in project.types)
						{
							<div>
								<h6>@type.type</h6>
								<partial name="_ReportPartial" model=type.precast />
							</div>
						}
					</div>
				}
			</div>
		}
	</div>

	<p class="mb-0"><span class="fw-bold">Concrete m3: </span>@Model.TotalConcreteAmount.ToString("f2")</p>
	<p class="mb-0"><span class="fw-bold">Reinforce kg: </span>@Model.TotalReinforceWeight.ToString("f2")</p>

</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$("#btnSubmit").click(function () {
				$("input[name='ReportHtml']").val($("#Report").html());
			});
		});
	</script>
}

