@model IEnumerable<ProjectInfoViewModel>

<table class="table table-hover table-borderless bg-light text-dark">
	<thead>
		<tr>
			<th class="text-dark" scope="col">Id</th>
			<th class="text-dark" scope="col">Name</th>
			<th class="text-dark" scope="col">Production Number</th>
			<th class="text-dark" scope="col">AddedOn</th>
			<th class="text-dark" scope="col">Precast Count</th>
			<th class="text-dark" scope="col">Precast Total Count</th>
		</tr>
	</thead>
	<tbody class="table-group-divider  bg-light text-dark">

		@foreach (var project in Model)
		{
			<tr>
				<td>@project.Id</td>
				<td>@project.Name</td>
				<td>@project.ProdNumber</td>
				<td>@project.AddedOn</td>
				<td>@project.PrecastCount</td>
				<td>@project.PrecastTotalCount</td>
				<td class="card-link"><a asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id">Delete</a></td>
			</tr>
		}
	</tbody>
</table>
