@model IEnumerable<PrecastProductionViewModel>

<table class="table table-hover table-borderless">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">PrecastId</th>
			<th scope="col">Department</th>
			<th scope="col">Count</th>
			<th scope="col">Date</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">

		@foreach (var record in Model)
		{
			<tr>
				<td disabled>@record.Id</td>
				<td disabled>@record.PrecastId</td>
				<td>@record.Department</td>
				<td>@record.Count</td>
				<td>@record.Date</td>
				<td>
					<a asp-controller="Precast"
					   asp-action="EditProduction"
					   asp-route-id="@record.Id"
					   class="card-link">Edit
					</a>
				</td>
				<td>
					<a asp-controller="Precast"
					   asp-action="DeleteProduction"
					   asp-route-id="@record.Id"
					   asp-route-precastId="@record.PrecastId"
					   class="card-link"
					   onclick="return confirm('Are you sure you want to delete this production record?')">
						Delete
					</a>
				</td>
			</tr>
		}
	</tbody>

</table>