@model IEnumerable<PrecastInfoViewModel>

@{
	ViewBag.Title = "Precast List";
}

<h3 class="text-center">@ViewBag.Title</h3>
<hr />

<table class="table table-hover table-borderless">
	<thead>
		<tr>
			<th scope="col">Project</th>
			<th scope="col">Type</th>
			<th scope="col">Name</th>
			<th scope="col">Count</th>
			<th scope="col">Reinforced</th>
			<th scope="col">Produced</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">


		@foreach (var p in Model)
		{
			<tr>
				<td>@p.Project</td>
				<td>@p.PrecastType</td>
				<td>@p.Name</td>
				<td>@p.Count</td>
				<td>@p.Reinforced</td>
				<td>@p.Produced</td>
				<td><a asp-controller="Precast" asp-action="Details" asp-route-id="@p.Id" class="card-link">Details</a></td>
				@if (User?.Identity?.IsAuthenticated ?? false)
				{
					<td><a asp-controller="Precast" asp-action="Edit" asp-route-id="@p.Id" class="card-link">Edit</a></td>
					<td><a asp-controller="Precast" asp-action="Delete" asp-route-id="@p.Id" class="card-link">Delete</a></td>
				}
			</tr>

		}
	</tbody>

	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}

