@model AllOrdersQueryModel

@{
	ViewBag.Title = "All Orders";
}

<h3 class="text-center">@ViewBag.Title</h3>
<hr />

<form method="get">

	<div class="row justify-content-end align-content-sm-stretch">
		<div class="form-group col-sm-2">
			<label asp-for="FromDate">From</label>
			<input asp-for="FromDate" class="form-control">
		</div>

		<div class="form-group col-sm-2">
			<label asp-for="ToDate">To</label>
			<input asp-for="ToDate" class="form-control">
		</div>

		<div class="form-group col-sm-2">
			<div class="form-group">
				<label asp-for="ProjectId">Project</label>
				<select asp-for="ProjectId" class="form-control">
					<option disabled selected value="">...</option>
					@foreach (var project in Model.Projects)
					{
						<option class="bg-dark text-light" value="@project.Id">@project.Name</option>
					}
				</select>
			</div>
		</div>
		<div class="form-group col-sm-1">
			<div class="form-group">
				<label asp-for="DepartmentId">Department</label>
				<select asp-for="DepartmentId" class="form-control">
					<option disabled selected value="">...</option>
					@foreach (var department in Model.Departments)
					{
						<option class="bg-dark text-light" value="@department.Id">@department.Name</option>
					}
				</select>
			</div>
		</div>
		<div class="form-group col-sm-1">
			<label asp-for="SearchTerm"></label>
			<input asp-for="SearchTerm" class="form-control" placeholder="...">
		</div>

		<div class="col-sm-2">
			<div class="form-group mt-4 p-2">
				<input type="submit" value="Search" class="btn btn-dark" />
			</div>
		</div>
	</div>
</form>
@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalOrders /
		AllOrdersQueryModel.OrdersPerPage);
}

<div class="row mb-5">
	<div class="col-sm-6 d-grid gap-2 d-sm-flex justify-content-sm-start">
		<a class="btn btn-secondary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Order"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-searchTerm="@Model.SearchTerm"><<</a>
	</div>

	@{
		var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
		!Model.Orders.Any();
	}

	<div class="col-sm-6 d-grid gap-2 d-sm-flex justify-content-sm-end">
		<a class="btn btn-secondary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Order"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-searchTerm="@Model.SearchTerm">>></a>
	</div>
</div>

@if (!Model.Orders.Any())
{
	<h2 class="text-center">No orders found by the given criteria!</h2>
}
<div>
	<partial name="_OrdersPartial" model=@Model.Orders />
</div>
