@model DeleteOrderViewModel

@{
	ViewBag.Title = "Delete Order";
}

<div class="card bg-transparent text-light p-3" style="max-width:22rem">
	<h5 class="card-title"><span class="fw-bold">Order N: </span>@Model.Id</h5>
	<p class="card-text"><span class="fw-bold">Order At: </span>@Model.OrderDate</p>
	<p class="card-text"><span class="fw-bold">Project : </span>@Model.Project</p>
	<p class="card-text"><span class="fw-bold">Precast: </span>@Model.Precast</p>
	<p class="card-text"><span class="fw-bold">Ordered Count: </span>@Model.OrderedCount</p>
	<p class="card-text"><span class="fw-bold">Deliver At: </span>@Model.DeliverDate</p>
	<p class="card-text"><span class="fw-bold">Department: </span>@Model.Department</p>
	
	<hr />
	<div class="card-footer">
		<form asp-action="DeleteConfirmed" method="post">
			<input type="hidden" asp-for="Id" />
			<button type="submit" class="btn btn-danger">Confirm Delete</button>
			<a asp-action="All" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</div>